<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.ghprb.GhprbTrigger_-DescriptorImpl plugin="ghprb@1.12">
  <serverAPIUrl>https://api.github.com</serverAPIUrl>
  <username>{{ ghprb['username'] }}</username>
  <password>{{ ghprb['password'] }}</password>
  <accessToken>{{ ghprb['access_token'] }}</accessToken>
  <adminlist>{{ ghprb['admin_list'] }}</adminlist>
  <publishedURL>{{ ghprb['published_url'] }}</publishedURL>
  <requestForTestingPhrase>Can one of the admins verify this patch?</requestForTestingPhrase>
  <whitelistPhrase>.*add\W+to\W+whitelist.*</whitelistPhrase>
  <okToTestPhrase>.*ok\W+to\W+test.*</okToTestPhrase>
  <retestPhrase>.*recheck.*</retestPhrase>
  <cron>H/5 * * * *</cron>
  <useComments>true</useComments>
  <logExcerptLines>0</logExcerptLines>
  <unstableAs>FAILURE</unstableAs>
  <autoCloseFailedPullRequests>false</autoCloseFailedPullRequests>
  <msgSuccess>Congratulations, the tests passed.</msgSuccess>
  <msgFailure>Sorry, the tests failed.</msgFailure>
  <jobs>
  </jobs>
</org.jenkinsci.plugins.ghprb.GhprbTrigger_-DescriptorImpl>