import jenkins.model.*
import hudson.plugins.sonar.*
import hudson.tools.*

def inst = Jenkins.getInstance()

def desc = inst.getDescriptor("hudson.plugins.sonar.SonarRunnerInstallation")

def installer = new SonarRunnerInstaller("2.4")
def prop = new InstallSourceProperty([installer])
def sinst = new SonarRunnerInstallation("sonar-runner", "/var/lib/jenkins/sonar-runner-2.4", [prop])
desc.setInstallations(sinst)

desc.save()