import jenkins.model.*
import hudson.plugins.sonar.*
import hudson.plugins.sonar.model.*

def inst = Jenkins.getInstance()

def desc = inst.getDescriptor("hudson.plugins.sonar.SonarPublisher")

def sinst = new SonarInstallation(
  "{{ sonar['user_name'] }}",
  false,
  "{{ sonar_host }}",
  "{{ sonar['db'] }}",
  "com.mysql.jdbc.Driver",
  "{{sonar['db_user']}}",
  "{{sonar['db_password']}}",
  "",
  "",
  new TriggersConfig(),
  "{{sonar['sonar_user']}}",
  "{{sonar['sonar_password']}}"
)
desc.setInstallations(sinst)

desc.save()