Host github.com
   HostName github.com
   User git
   IdentityFile /var/lib/jenkins/.ssh/id_rsa
   StrictHostKeyChecking no
   UserKnownHostsFile=/dev/null
   
Host {{ gerrit['gerrit_host'] }}
  HostName {{ gerrit['gerrit_host'] }}
  User git
  IdentityFile /var/lib/jenkins/.ssh/id_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null   