[gerrit]
	basePath = git
	canonicalWebUrl = http://{{ gerrit_load_balancer.balancer.virtual_ips[0].address }}/
[database]
	type = H2
	database = db/ReviewDB
[auth]
	type = OpenID
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache